@model QuercusPedidos.DetallePedido

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="site.css">
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*<meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">*@

<script>
   function imprimir(idPedido) {
    window.print();

    $.ajax({
        type: "POST",
        url: '@Url.Action("ActualizarEstadoPedido", "Pedido")',
        data: { id: idPedido },        
    });
}
</script>


</head>
<body>
    <div class="ticket">
        <p class="centrado">
            QUERCUS REST<br> EXPRESS: 8961-7996
        </p>
        <table class="tableim">
            <tr>
                <th class="cantidad">Qt</th>
                <th class="producto">Product</th>
                <th class="precio">₡₡</th>
            </tr>

            @foreach (var datoTablaA in Model.DatosBar)
            {
                <tr>
                    <td class="cantidad">@datoTablaA.Cantidad</td>
                    <td class="producto">@datoTablaA.Nombre</td>
                    <td class="precio">@datoTablaA.CostoTotal</td>
                </tr>
            }

            @foreach (var datoTablaB in Model.DatosRes)
            {
                <tr>
                    <td class="cantidad">@datoTablaB.Cantidad</td>
                    <td class="producto">@datoTablaB.Nombre</td>
                    <td class="precio">@datoTablaB.CostoTotal</td>
                </tr>
            }


            @foreach (var datoPed in Model.DatosPed)
            {
                <tr class="produc">

                    <td></td>
                    <td class="produc">Subtotal</td>
                    <td>@datoPed.SubTotal</td>                      
                </tr>
                <tr class="produc">

                    <td></td>
                    <td class="produc">10% serv</td>
                    <td>@datoPed.ImpServicio</td>
                </tr>
                <tr class="produc">

                    <td></td>
                    <td class="produc">Total</td>
                    <td>@datoPed.MontoTotal</td>
                </tr>

            }

        </table>
        <p class="centrado">
            ¡GRACIAS POR SU COMPRA!
        </p>
        <button class="oculto-impresion" onclick="imprimir(@Model.DatosPed.First().IdPedido)">Imprimir</button>
    </div>
</body>
</html>

